@charset "UTF-8";

body{
    background-color:rgb(75, 116, 250);
    font: normal 18px arial;
}
header{
    color:white;
    text-align: center;
}
section{
    background-color:white;
    border-radius:10px;
    padding:15px;
    width:500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);

}
div>img#imagem{
    width:200px;
    height:200px;
    border-radius:50%;
    margin: auto;
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}